<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC | Peleadores</title>
    <link rel="icon" href="../img/UFC-LOGO.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/peleadores.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <!-- HEADER -->
    <div class="header">
        <!-- Navbar-1 -->
        <div class="navbar">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="rankings.html">RANKINGS</a></li>
                <li><a href="Peleadores.html">PELEADORES</a></li>
            </ul>
        </div>

        <!-- Titulo -->
        <div class="titulo">
            <img src="../img/UFC-LOGO.png" alt="UFC">
        </div>

        <!-- Navbar-2 -->
        <div class="navbar">
            <ul>
                <li><a href="https://www.instagram.com/ufc/" target="_blank">INSTAGRAM</a></li>
                <li><a href="https://www.youtube.com/@ufcespanol/videos" target="_blank">VIDEOS</a></li>
                <li><a href="https://www.ufcstore.com/en/?_s=bm-ufccom-Main-Navigation-ES" target="_blank">TIENDA</a></li>
            </ul>
        </div>
    </div>

    <!-- PELEADORES -->
    <div class="contenedor-peleadores">
        <div class="contenedor-busqueda">
            <input type="text" placeholder="Buscar">
            <button>Buscar</button>
        </div>
        <div class="peleadores">
            <!-- AQUI IRAN LOS PELEADORES -->
        </div>
    </div> 

    <!-- FOOTER -->
    <div class="footer">
        <div class="imagen-footer">
            <img src="/img/UFC-LOGO.png" alt="UFC">
        </div>

        <div class="contacto-footer" data-url="https://www.ufcespanol.com/faq">
            <h1>CONTACTO</h1>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/js/peleadores.js"></script>
    <script src="/js/url.js"></script>
</body>

</html>